#logo{
    width:120px;
    height: 120px;
    margin-left: 80px;
}
#navbar{
    justify-content: space-between;
    display: flex;
    font-size: xx-large;
    font-weight: 50px;
    margin-left: 100px;
    text-decoration: none;
}
h1{
    font-size: 60px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
}
p{
    font-size: xx-large;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    text-decoration: none;
    gap: 100px;
    /* text-align: center; */
}
#mentors{
    display: flex;
    gap: 0px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 80px;
}

body{
    background-color: rgb(246, 191, 246);
}
a{
    text-decoration: none;
}
button{
    width: 160px;
    height: 60px;
    margin-left: 400px;
    border-radius: 100px;
    font-size: 20px;
}
#mentee{
    width: 700px;
    height: 500px;
    margin-top: 70px;
    /* border-radius: 100px; */
}


@media  screen and (min-width:280px) and (max-width: 460px) {
    #logo{
        width:100px;
        height: 80px;
        margin-left: 15%;
        margin-top: 0px;
      
    }
    #mentee{
        width: 250px;
        height: 200px;
        margin-top: 0px;
        /* border-radius: 100px; */
    }
    button{
        width: 160px;
        height: 60px;
        margin-left: 00px;
        border-radius: 100px;
    }
    
    button{
        width: 100px;
        height: 40px;
    }

    h1{
        font-size: larger;
        font-weight: 500px;
        margin-left: 0px;
        margin-top: 40px;
    }

    p{
        font-size: large;
        font-weight: 200px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 0px;
        text-decoration: none;
        gap: 100px;
    }
    #navbar{
        justify-content: space-between;
        display: flex;
        font-weight: 50px;
        margin-left: 00px;
        text-decoration: none;
    }
    #mentors{
        display: grid;
        gap: 0px;
        margin-left: 0px;
        margin-right: 80px;
    }

}
/* @media  screen and (min-width:1280px) and (max-width: 2460px) {
    #logo{
        width:200px;
        height: 150px;
        margin-left: 200px;
    }
    #navbar{
        justify-content: space-between;
        display: flex;
        font-size: xx-large;
        font-weight: 50px;
        margin-left: 100px;
        text-decoration: none;
    }
    h1{
        font-size: 60px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 100px;
    }
    p{
        font-size: xx-large;
        font-weight: 200px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 100px;
        text-decoration: none;
        gap: 100px;
        /* text-align: center; */
/*     
    #signup{
        margin-top: 60px;
        margin-right: 150px;
    }
    body{
        background-color: rgb(246, 191, 246);
    }
    a{
        text-decoration: none;
    }
    button{
        width: 140px;
        height: 60px;
    }
} */ 
@media  screen and (min-width:768px) and (max-width: 912px) {
    #logo{
        width:200px;
        height: 150px;
        margin-left: 0px;
    }
    #navbar{
        justify-content: space-between;
        display: flex;
        font-size: xx-large;
        font-weight: 50px;
        margin-left: 100px;
        text-decoration: none;
    }
    h1{
        font-size: 55px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10px;
    }
    p{
        font-size: xx-large;
        font-weight: 200px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10px;
        text-decoration: none;
        gap: 100px;
        /* text-align: center; */
    }
    #signup{
        margin-top: 60px;
        margin-right: 150px;
    }
    body{
        background-color: rgb(246, 191, 246);
    }
    a{
        text-decoration: none;
    }
    button{
        width: 140px;
        height: 60px;
    }
    #logo{
        width:100px;
        height: 80px;
        margin-left: 15%;
        margin-top: 0px;
      
    }
    #mentee{
        width: 250px;
        height: 200px;
        margin-top: 0px;
        /* border-radius: 100px; */
    }


}